---
import Header from './header.astro'

interface Props {
  title?: string
}

const siteTitle = 'Astro + Keystatic 🚀'
const { title } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={`A test Keystatic website on Cloudflare built on ${Astro.generator}`} />
    <title>{title ? `${title} | ${siteTitle}` : siteTitle}</title>
  </head>
  <body>
    <Header title={siteTitle} />
    <slot />
  </body>
</html>

<style lang='scss' is:global>
  @use '@picocss/pico/scss/pico';
</style>
